.img-icon {
  width: 35px;
  height: 35px;
}

.nue-button {
  border-radius: 50px;
  background: linear-gradient(145deg, #d5d5d5, #fefefe);
  box-shadow: 21px 21px 42px #c9c9c9, -21px -21px 42px #ffffff;
  margin: 25px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nue-button:active {
  border-radius: 50px;
  background: #ededed;
  box-shadow: inset 21px 21px 42px #c9c9c9, inset -21px -21px 42px #ffffff;
}

.nue-profile {
  border-radius: 15px;
  background: linear-gradient(145deg, #d5d5d5, #fefefe);
  box-shadow: 21px 21px 42px #c9c9c9, -21px -21px 42px #ffffff;
  margin: 50px 20px 0 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.nue-bio {
  border-radius: 15px;
  background: linear-gradient(315deg, #fefefe, #d5d5d5);
  box-shadow: -21px -21px 42px #c9c9c9, 21px 21px 42px #ffffff;
  margin: 50px;
  padding: 20px;
  width: inherit;
  height: 115px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal-div {
   display: flex;
   justify-content: center;
}